---
import siteData from "@config/siteData.json";
---

<a class="primary-focus flex items-center align-middle" href="/" aria-label="Inicio - Glam 5.0">
  <img
    src="/images/logo-glam.svg"
    alt="Logo de Glam 5.0 - Venta y alquiler de vestidos en Pereira"
    width="56"
    height="56"
    loading="eager"
    class="h-14 w-14"
  />
  <div class="font-heading-1 text-xl uppercase">{siteData.name}</div>
</a>
